.home-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    min-height: calc(70vh - 70px);
    margin: 0 auto;
    gap: 200px;
    /* border: 2px solid #fff; */
}

.apresentacao-nome {
    font-size: 30px;
}

.apresentacao-container {
    width: 70%;
    text-align: justify;
}

.apresentacao-introducao {
    font-size: 18px;
    font-weight: 400;
}

.curriculo-btn {
    width: 150px;
    margin: 20px 0;
    background-color: #374151;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all;
}

.curriculo-btn:hover {
    background-color: #CFD6E4;
}

.social-container {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 30px;
    margin: 20px 0;
}

.imagem-container {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
}

.imagem-perfil {
    margin: auto;
    width: 300px;
    height: 300px;
    /* max-width: 450px;
    max-width: 450px; */
    border-radius: 50%; 
    border: 3px solid #ccc;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.imagem-perfil {
    transform: scale(1.05);
}
