.experiencia-conteudo {
    margin-bottom: 50px;
}

.experiencia-subtitulo {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto 30px;
}

.experiencia-subtitulo p {
    font-size: 22px;
}

.subtitulo-icone {
    margin: 0 20px;
}