/* Estilização geral do container */
.sobre-container {
    background-color: #374151;
    min-height: 100vh; /* Agora ocupa toda a altura da tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Layout do conteúdo principal */
.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px; /* Reduzindo o espaçamento para evitar excesso de espaço */
    max-width: 1200px;
    width: 100%;
    margin-bottom: 30px;
}

/* Imagem de perfil */
.sobre-imagem {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.sobre-imagem:hover {
    transform: scale(1.05);
}

/* Descrição ao lado da imagem */
.sobre-descricao {
    max-width: 500px;
    text-align: justify;
    color: #ffffff;
    padding: 0 15px; /* Adicionando um padding para melhor alinhamento */
}

/* Subtítulo */
.sobre-subtitulo {
    font-size: 21px;
    font-weight: bold;
    color: #f9fafb;
    margin-bottom: 10px;
}

/* Texto */
.sobre-texto {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

/* Responsividade */
@media (max-width: 1024px) {
    .sobre-conteudo {
        flex-direction: column;
        text-align: center;
        gap: 50px; /* Reduzindo ainda mais o espaçamento */
    }

    .sobre-imagem {
        width: 350px;
        height: 350px;
    }

    .sobre-descricao {
        width: 90%;
        text-align: center;
    }

    .sobre-subtitulo {
        text-align: center;
        font-size: 22px;
    }

    .sobre-texto {
        font-size: 16px;
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 20px;
        padding: 10px 16px;
    }

    .sobre-imagem {
        width: 280px;
        height: 280px;
    }

    .sobre-subtitulo {
        font-size: 20px;
        font-weight: bold;
        color: #f9fafb;
        margin-bottom: 10px;
    }

    .sobre-texto {
        font-size: 12px;
        text-align: justify;
    }

    .sobre-container {
        padding: 15px;
    }
}