.skills-conteudo i {
    font-size: 100px;
}

.skills-conteudo img {
    width: 100px;
}

.skills-conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

